ENVIRONMENT=$ENVIRONMENT
DB_DRIVER=postgres
DB_SOURCE=$DB_SOURCE
SERVER_ADDRESS=0.0.0.0:8080
PASETO_SYMMETRIC_KEY=$PASETO_SYMMETRIC_KEY
ACCESS_TOKEN_DURATION=15m
REDIS_ADDRESS=localhost:6379
EMAIL_SENDER_NAME=Simple Bank
EMAIL_SENDER_ADDRESS=$EMAIL_SENDER_ADDRESS
EMAIL_SENDER_PASSWORD=$EMAIL_SENDER_PASSWORD
EMAIL_TEST_RECIPIENT=$EMAIL_TEST_RECIPIENT